services:

  # Prometheus サービス
  prometheus:
    image: prom/prometheus:latest 
    container_name: prometheus 
    restart: unless-stopped
    ports:
      - '9090:9090'
    volumes:
      # ホストの prometheus.yml をコンテナの設定ファイルとしてマウント
      - './prometheus.yml:/etc/prometheus/prometheus.yml'
      - prometheus_data:/prometheus
    networks:
      - monitoring_net

  # Grafana サービス
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - '3011:3000' # ホスト3011->コンテナ3000
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - monitoring_net

  # Node Exporter サービス
  nodeexporter:
    image: prom/node-exporter:latest
    container_name: nodeexporter
    restart: unless-stopped
    ports:
      - '9100:9100'
    volumes:
      - '/:/host:ro,rslave'
    command:
      - '--path.rootfs=/host'
    networks:
      - monitoring_net
    pid: host

  # Process Exporter サービス
  processexporter:
    image: ncabatoff/process-exporter:latest
    container_name: processexporter
    restart: unless-stopped
    pid: host
    ports:
      - "9256:9256"
    volumes:
      - "/proc:/host/proc:ro"
      - "./process-exporter.yml:/config.yml:ro"
    command:
      - "--procfs=/host/proc"
      - "--config.path=/config.yml"
    networks:
      - monitoring_net
  
  # Portainer サービス
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    ports:
      - "9443:9443"         # Web UI (https://ホスト:9443)
      # 必要ならエージェント用
      # - "8000:8000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:
      - monitoring_net

volumes:
  prometheus_data: {}
  grafana_data: {}
  portainer_data: {}

networks:
  monitoring_net:
    driver: bridge
