global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # Prometheus自身のメトリクスを収集するジョブ
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  # Node Exporterのメトリクスを収集するジョブ
  - job_name: 'node_exporter'
    static_configs:
      - targets: ['nodeexporter:9100']

  # Process Exporterのメトリクスを収集するジョブ
  - job_name: 'process-exporter'
    static_configs:
      - targets: ['processexporter:9256']
