# Prometheusの全体設定
global:
  scrape_interval: 15s
  evaluation_interval: 15s

# Prometheusがメトリクスを収集するターゲットの定義
scrape_configs:
  # Prometheus自身のメトリクスを収集するジョブ
  - job_name: 'prometheus'
    # Prometheusはデフォルトで /metrics エンドポイントを提供
    static_configs:
      # Docker Composeのネットワーク上ではサービス名でアクセス可能
      - targets: ['prometheus:9090']

  # Node Exporterのメトリクスを収集するジョブ
  - job_name: 'node_exporter'
    static_configs:
      # Docker Composeのネットワーク上ではサービス名でアクセス可能
      - targets: ['nodeexporter:9100']